@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.blink {
  animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.filepond-label{
  font-family: var(--font-roboto-c);
  text-decoration: underline;
  color: #8a8a8a;
}

.filepond-label:hover{
  cursor: pointer;
}

.card-default{
  background-image: url('../../public/babka.png');
}

.animate-button-text-enter {
  animation: button-text-animation-enter 1.5s forwards ease-in -1s;
}

.animate-button-text-leave {
  animation: button-text-animation-leave 1.5s forwards ease-in;
}

@keyframes button-text-animation-enter {
  from{
    opacity: 0;
    visibility: hidden;
  }
  10%{
    visibility: visible;
  }
  50%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: translateX(122px);
    visibility: visible;
  }
}
@keyframes button-text-animation-leave {
  from{
    opacity: 1;
    transform: translateX(122px);
  }
  20%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  to{
    opacity: 0;
    transform: translateX(0px);
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.7; }
}

@keyframes fadeOut {
  from { opacity: 0.7; }
  to { opacity: 0; }
}

.transition-opacity-arrows-leave {
  opacity: 0;
  animation: fadeOut 0.3s linear forwards;
}

.transition-opacity-arrows-enter {
  animation: fadeIn 0.3s linear forwards;
}

@keyframes info-box-change-animation-to-left {
  from{
    opacity: 0;
    visibility: hidden;
  }
  10%{
    visibility: visible;
  }
  50%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  to{
    opacity: 1;
    transform: translateX(122px);
    visibility: visible;
  }
}
